/* style class for etch a sketch drawable pixels */
.pixel {
  border: black solid 1px;
}

.etch-a-sketch-container {
  width: 970px;
  height: 970px;
  border: black solid 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.etch-a-sketch-row {
  display: flex;
  justify-content: space-around;
}
.button-row {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

button {
  flex: 1;
  height: 33px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
